#message-form {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b7b5b9;
}
input {
    width: 70%;
    height: 30px;
}
button {
    width: 25%;
    height: 38px;
}
@keyframes floatIn {
    0% {bottom: -25%}
    100% {bottom: 0%;}
}